<h1>Resources</h1>
<%= link_to 'New Resource', new_resource_path %>

<div>
  <% @resources.each do |resource| %>
    <hr>
    <div>
      <%= link_to resource.link, resource.link, target: "_blank" %>

      <p><%= resource.notes %></p>
    </div>
    <hr>
  <% end %>
</div>
